.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.ts
**/*.map
node_modules/**
!node_modules/ws/**
!node_modules/js-yaml/**
PUBLISH.md
*.vsix
.ovsx-token
test-*.mjs
test-*.cjs
